src/main/java/ma/amarghad/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.bankws.amarghad.ma/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.bankws.amarghad.ma/" name="MicroBankService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.bankws.amarghad.ma/" schemaLocation="http://localhost:9090/?xsd=1"/>
</xsd:schema>
</types>
<message name="getAccounts">
<part name="parameters" element="tns:getAccounts"/>
</message>
<message name="getAccountsResponse">
<part name="parameters" element="tns:getAccountsResponse"/>
</message>
<message name="getAccount">
<part name="parameters" element="tns:getAccount"/>
</message>
<message name="getAccountResponse">
<part name="parameters" element="tns:getAccountResponse"/>
</message>
<message name="toMAD">
<part name="parameters" element="tns:toMAD"/>
</message>
<message name="toMADResponse">
<part name="parameters" element="tns:toMADResponse"/>
</message>
<portType name="BankWS">
<operation name="getAccounts">
<input wsam:Action="http://service.bankws.amarghad.ma/BankWS/getAccountsRequest" message="tns:getAccounts"/>
<output wsam:Action="http://service.bankws.amarghad.ma/BankWS/getAccountsResponse" message="tns:getAccountsResponse"/>
</operation>
<operation name="getAccount">
<input wsam:Action="http://service.bankws.amarghad.ma/BankWS/getAccountRequest" message="tns:getAccount"/>
<output wsam:Action="http://service.bankws.amarghad.ma/BankWS/getAccountResponse" message="tns:getAccountResponse"/>
</operation>
<operation name="toMAD">
<input wsam:Action="http://service.bankws.amarghad.ma/BankWS/toMADRequest" message="tns:toMAD"/>
<output wsam:Action="http://service.bankws.amarghad.ma/BankWS/toMADResponse" message="tns:toMADResponse"/>
</operation>
</portType>
<binding name="BankWSPortBinding" type="tns:BankWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAccounts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="toMAD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MicroBankService">
<port name="BankWSPort" binding="tns:BankWSPortBinding">
<soap:address location="http://localhost:9090/"/>
</port>
</service>
</definitions>